*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
body{
  background-color: #34493e;
}

.header{
  position: absolute;
  height: 30px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;


}
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.menu{
  float: right;
  line-height: 100px;
  z-index: 100;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}



#slider {
    position: relative;
    float: left;
    width: 100%; 
    
    
}

#slider{ 
  margin-top: -20px;
  width: 100%;
  max-height: 500px;
}

#slides article{ 
  width: 20%;
  float: left;
}

#slides .image{ 
  width: 500%;
  line-height: 0;

}

#overflow{ 
  width: 100%;
  overflow: hidden;
}

article img{ 
  width: 100%;
}

#desktop:checked ~ #slider{ 
  max-width: 2500px;
  max-height: 500px;

}

#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
  background: url('prev.png') no-repeat; 
  float: left;
  margin:  0 0 0px;
  display: block;
  height: 68px;
  width: 68px;
}

#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
  background: url('next.png') no-repeat; 
  float: right;
  margin: 0 0 0 0; 
  display: block;
  height: 68px;
  width: 68px;
}

label, a{ 
  cursor: pointer;
}

.all input{ 
  display: none;
}

#switch1:checked ~ #slides .image{
  margin-left: 0;
}

#switch2:checked ~ #slides .image{
  margin-left: -100%;
}

#switch3:checked ~ #slides .image{
  margin-left: -200%;
}

#switch4:checked ~ #slides .image{
  margin-left: -300%;
}

#switch5:checked ~ #slides .image{
  margin-left: -400%;
}

#controls{ 
  margin: -45% 0 0 0;
  width: 100%;
  height: 50px;
}


#slides .image{ 
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ 
  opacity: 0.6;
}

#controls label{ 
  transition: opacity 0.2s ease-out;
}


.text6{
      position: absolute;
      width: 520px;
      height: 132px;
      margin-top: 325px;
      margin-left: 420px;
      font-family: Sansita;
      font-style: italic;
      font-weight: normal;
      align-items: center;
      text-align: center;
      font-size: 120px;
      line-height: 132px;
      color: #000000;
      transform: rotate(0.05deg);
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.719);

    }
    @media(max-width: 320px ){.text6{width: 150px; height: 38px; font-size: 24px; margin-top: 130px;
      margin-left: 40px; line-height: 38px;   } .image{ background: url(1.jpg);} }
    @media(max-width: 320px){.header{ width: 200px; }}

    @media(max-width: 425px ){.text6{width: 180px; height: 40px; font-size: 26px; margin-top: 130px;
      margin-left: 100px; line-height: 42px;}  }
    @media(max-width: 425px){.header{ width: 380px; }}

    @media(max-width: 768px ){.text6{width: 300px; height: 72px; font-size: 50px; margin-top: 190px;
      margin-left: 200px; line-height: 46px;}  }
    @media(max-width: 768px){.header{ width:720px;}}

    @media(max-width: 1024px ){.text6{width: 450px; height: 100px; font-size: 80px; margin-top: 200px;
      margin-left: 280px; line-height: 60px;}  }
    @media(max-width: 1024px){.header{ width: 980px;}}

   

    

.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}

.ul{
  margin: 10px;
}
.footer{
  height: 80px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;

}
.a{
  justify-content: center;
  align-items: center;

}