
.body{

	font-family: 'Vollkorn', serif;
	width: 80%;
	margin-left: 10%;
	background-color: #C0C0C0;
}
.containe{
	background: gray;

}

.nav-link{
	color: #000;
}
.h1{
	display: flex;
	justify-content: center;
}
.img_me{
	
	width: 70%;
}

.img_fb{
	width: 90%;
}
.footer {
	width: 80%; 
    height: 100px; 
    position: absolute; 
    
    color: #000;
    background: gray;
   }

.a{
	 text-decoration: none; 
}