.content{

	font-family: 'Vollkorn', serif;
	background-color: violet;
	
}
.just{
	background-color: violet;
	height: 100px;
}
.block{
	display: none;
	width: 200px;
}
.active{
	color: red;
	font-size: 24px;
}

 @media (max-width: 900px) {
  p {font-size: 10px;}
}

 @media (max-width: 900px) {
  button {width: 100px;}
}

 @media (max-width: 900px) {
  .block {width: 100px;}
}
 @media (max-width: 900px) {
  .active {font-size: 15px;}
}


.col1{
	background-color: yellow;
}

.col2{
	background-color: lightblue;
}